# Inherit the parent direnv configuration
source_up
# Make virtualenv binaries (ruff, python, isort, etc.) available on PATH
PATH_add .venv/bin
# Avoid implicit syncing the virtualenv for faster command execution
export UV_NO_SYNC='1'
# Load local settings
source_env_if_exists ./.envrc.local
