[submodule "indico"]
	path = indico
	url = https://github.com/unconventionaldotdev/indico.git
[submodule "plugins/indico-plugins"]
	path = plugins/indico-plugins
	url = https://github.com/indico/indico-plugins.git
[submodule "plugins/indico-plugins-contrib"]
	path = plugins/indico-plugins-contrib
	url = git@github.com:indico/indico-plugins-contrib.git
[submodule "agents/indico"]
	path = agents/indico
	url = https://github.com/unconventionaldotdev/indico-agents.git
