# dependencies
.venv/
node_modules/

# builds
**/static/dist/
dist/

# caches
.coverage
.ruff_cache/
__pycache__/

# assets
url_map.json
webpack-build-config.json

# local settings
.envrc.local

# local agent settings
.agents/
.claude
